.container {
  background-color: #ddd;
  margin: 10px auto;
  padding: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto; }
  .container .project-header {
    background-color: #2eb2ff;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto; }
    .container .project-header .header-image {
      height: 216px;
      width: 384px;
      grid-column-start: 1;
      grid-column-end: 2; }
    .container .project-header .header-titlebox {
      grid-column-start: 2;
      grid-column-end: 4;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 10%; }
      .container .project-header .header-titlebox .header-title {
        padding-right: 0; }
  .container .project-topnav {
    background-color: #2eb2ff;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch; }
    .container .project-topnav ul {
      margin: 0;
      padding: 0;
      width: 75%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: nowrap;
      align-items: center; }
      .container .project-topnav ul li {
        width: 20%;
        text-align: center;
        list-style: none; }
        .container .project-topnav ul li a {
          display: block;
          color: black;
          text-decoration: none; }
  .container .project-aside {
    background-color: #8d33ff;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center; }
    .container .project-aside .advert {
      text-align: center;
      margin: 0 10px; }
      .container .project-aside .advert .advert-img {
        width: 160px;
        height: 90px; }
  .container main {
    background-color: #ff800d;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center; }
    .container main .main-notification {
      padding: 10px;
      text-align: center; }
      .container main .main-notification .notification-img {
        width: 256px;
        height: 144px; }
  .container .project-footer {
    background-color: #525053;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch; }
    .container .project-footer .footer-links {
      color: white;
      margin: 0;
      padding: 0;
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-wrap: nowrap;
      align-items: center; }
      .container .project-footer .footer-links li {
        text-align: center;
        list-style: none; }
        .container .project-footer .footer-links li a {
          color: white; }
    .container .project-footer .footer-contact {
      color: white;
      margin: 0;
      padding: 0;
      padding-top: 1%;
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-wrap: nowrap;
      align-items: center; }
      .container .project-footer .footer-contact li {
        text-align: center;
        list-style: none; }
        .container .project-footer .footer-contact li a {
          color: white; }

/*# sourceMappingURL=styles.css.map */
