body {
  height: 100%;
  background: linear-gradient(to top right, #0d06ff, #ff800d);
  background-repeat: no-repeat;
  background-attachment: fixed; }
  body .container {
    background-color: #ddd;
    margin: 10px auto;
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto; }
    @media screen and (max-width: 800px) {
      body .container {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto; } }
    body .container .project-header {
      background-color: #2eb2ff;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch; }
      @media screen and (max-width: 800px) {
        body .container .project-header {
          display: none; } }
      body .container .project-header a {
        width: 50%; }
        body .container .project-header a .header-image {
          height: 100%;
          width: 100%; }
      body .container .project-header .header-titlebox {
        width: 60%;
        color: white;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center; }
    body .container .project-topnav {
      background-color: #525053;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: stretch;
      padding: 5px; }
      @media screen and (max-width: 800px) {
        body .container .project-topnav {
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 2;
          flex-direction: column;
          align-items: center;
          background-color: #2eb2ff; } }
      body .container .project-topnav button {
        border-radius: 60%;
        background-color: #2eb2ff; }
        body .container .project-topnav button a {
          color: black;
          text-decoration: none; }
      body .container .project-topnav ul {
        margin: 0;
        padding: 0;
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center; }
        @media screen and (max-width: 800px) {
          body .container .project-topnav ul {
            flex-direction: column;
            font-size: 150%; } }
        body .container .project-topnav ul li {
          width: 20%;
          text-align: center;
          list-style-type: none; }
          @media screen and (max-width: 800px) {
            body .container .project-topnav ul li {
              width: 50%; } }
          body .container .project-topnav ul li a {
            display: block;
            color: white;
            text-decoration: none; }
    body .container .project-aside {
      background-color: #2eb2ff;
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 6;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-wrap: nowrap;
      align-items: center; }
      @media screen and (max-width: 800px) {
        body .container .project-aside {
          display: none; } }
      body .container .project-aside .advert {
        text-align: center;
        margin: 0 10px;
        color: white; }
        body .container .project-aside .advert .advert-img {
          width: 160px;
          height: 90px; }
        body .container .project-aside .advert .advert-title {
          color: white; }
        body .container .project-aside .advert a {
          text-decoration: none; }
    body .container main {
      background-color: #0100a5;
      padding: 10px;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 5;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      color: white; }
      @media screen and (max-width: 800px) {
        body .container main {
          grid-column-end: 2;
          grid-row-start: 2;
          grid-row-end: 4;
          flex-direction: column; } }
      body .container main .index-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center; }
        body .container main .index-container .index-articles {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          flex-wrap: wrap;
          align-items: center;
          margin: 1%; }
          body .container main .index-container .index-articles .index-article {
            width: 40%;
            background-color: white;
            color: black;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 25%;
            padding: 4%;
            word-wrap: break-word; }
            body .container main .index-container .index-articles .index-article img {
              width: 100%;
              border-radius: 50%; }
            body .container main .index-container .index-articles .index-article .show-link {
              text-decoration: none;
              color: black; }
            body .container main .index-container .index-articles .index-article .read-more {
              text-decoration: underline; }
            body .container main .index-container .index-articles .index-article .article-name {
              text-align: center;
              padding: 10px 20px; }
      body .container main .show-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; }
        body .container main .show-container .show-part {
          display: flex;
          flex-direction: column;
          align-items: center; }
          body .container main .show-container .show-part .show-title {
            font-weight: bold; }
          body .container main .show-container .show-part .show-video {
            width: 80%; }
          body .container main .show-container .show-part img {
            width: 80%; }
        body .container main .show-container .show-buttons {
          width: 40%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center; }
      body .container main .main-head {
        text-align: center; }
      body .container main td {
        color: black; }
      body .container main .main-notification {
        padding: 10px;
        text-align: center; }
        body .container main .main-notification .notification-img {
          width: 256px;
          height: 144px; }
      body .container main .notification-title {
        color: white; }
      body .container main a {
        text-decoration: none; }
    body .container .project-footer {
      background-color: #525053;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 5;
      grid-row-end: 6;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: stretch; }
      @media screen and (max-width: 800px) {
        body .container .project-footer {
          grid-column-end: 2;
          grid-row-start: 4;
          grid-row-end: 5;
          flex-direction: column;
          align-items: center;
          font-size: 150%;
          text-align: center; } }
      @media screen and (max-width: 800px) {
        body .container .project-footer h5 {
          font-size: 200%; } }
      body .container .project-footer .footer-links {
        color: white;
        margin: 0;
        padding: 0;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center; }
        body .container .project-footer .footer-links li {
          text-align: center;
          list-style: none; }
          body .container .project-footer .footer-links li a {
            color: white; }
      body .container .project-footer .footer-contact {
        color: white;
        margin: 0;
        padding: 0;
        padding-top: 1%;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center; }
        body .container .project-footer .footer-contact li {
          text-align: center;
          list-style: none; }
          body .container .project-footer .footer-contact li a {
            color: white; }

/*# sourceMappingURL=styles.css.map */
