// Variable
$lightgrey: #ddd;
$logocolor: #2eb2ff;
$red: #df0101;
$purple: #8d33ff;
$orange: #ff800d;
$darkgrey: #525053;
$maincolor: #0100a5;
$background: linear-gradient(to top right, #0d06ff, #ff800d);

$mediamobile: 800px;

// Code

body {
    //width: 100%;
    height: 100%;
    background: $background;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .container {
        background-color: $lightgrey;
        margin: 10px auto;
        padding: 10px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
        @media screen and (max-width: $mediamobile) {
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
        }

        .comment {

            border-color: #17a2b8;
            border-style: solid;
            border-width: 5px;
            width: 600px;
            margin: 2%;
            background-color: #a6a6b5;
            overflow: hidden;

            & ul {
                list-style-type: none !important;
            }

        }

        .project-header{
            background-color: $logocolor;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            //grid-template-columns: auto auto auto;
            //grid-template-rows: auto;
            @media screen and (max-width: $mediamobile) {
                display: none;
            }
            a {
                width: 50%;
                .header-image {
                    height: 100%;
                    width: 100%;
                    //grid-column-start: 1;
                    //grid-column-end: 2;
                }
            }
            .header-titlebox {
                width: 60%;
                color: white;
                //grid-column-start: 2;
                //grid-column-end: 4;
                margin-top: auto;
                margin-bottom: auto;
                //margin-left: 10%;
                text-align: center;
                .header-title {
                    //padding-right: 0;
                }
            }
        }
        .project-topnav {
            background-color: $darkgrey;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: stretch;
            padding: 5px;
            @media screen and (max-width: $mediamobile) {
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 2;
                flex-direction: column;
                align-items: center;
                background-color: $logocolor;
            }
            button {
                border-radius: 60%;
                background-color: $logocolor;
                a {
                    color: black;
                    text-decoration: none;
                }
            }
            ul {
                margin: 0;
                padding: 0;
                width: 75%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: nowrap;
                align-items: center;
                @media screen and (max-width: $mediamobile) {
                    flex-direction: column;
                    font-size: 150%;
                }

               li {
                   width: 20%;
                   text-align: center;
                   list-style-type: none;
                   @media screen and (max-width: $mediamobile) {
                       width: 50%;
                   }
                   a {
                       display: block;
                       color: white;
                       text-decoration: none;
                   }
               }
            }
        }
        .project-aside {
            background-color: $logocolor;
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 6;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-wrap: nowrap;
            align-items: center;
            @media screen and (max-width: $mediamobile) {
                display: none;
            }
            .advert {
                text-align: center;
                margin: 0 10px;
                color: white;
                .advert-img {
                    width: 160px;
                    height: 90px;
                }
                .advert-title {
                    color: white;
                }
                a {
                    text-decoration: none;
                }
            }
        }
        main {
            background-color: $maincolor;
            //background-color: white;
            padding: 10px;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 5;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            color: white;
            @media screen and (max-width: $mediamobile) {
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 4;
                flex-direction: column;
            }
            .index-container {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                flex-wrap: wrap;
                align-items: center;
                .index-articles {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    align-items: center;
                    margin: 1%;
                    .index-article {
                        width: 40%;
                        background-color: white;
                        color: black;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        border-radius: 25%;
                        padding: 4%;
                        word-wrap: break-word;
                        img {
                            width: 100%;
                            border-radius: 50%;
                        }
                        .show-link {
                            text-decoration: none;
                            color: black;
                        }
                        .read-more {
                            text-decoration: underline;
                        }
                        .article-name {
                            text-align: center;
                            padding: 10px 20px;
                        }
                    }
                }
            }
            .show-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .show-part {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .show-title {
                        font-weight: bold;
                    }
                    .show-video {
                        width: 80%;
                    }
                    img {
                        width: 80%;
                    }
                }
                .show-buttons {
                    width: 40%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }
            }
            .main-head {
                text-align: center;
            }
            td {
                color: black;
            }
            .main-notification {
                padding: 10px;
                text-align: center;
                .notification-img {
                    width: 256px;
                    height: 144px;
                }
            }
            .notification-title {
                color: white;
                //color: black;
            }
            a {
                text-decoration: none;
            }
        }
        .project-footer {
            background-color: $darkgrey;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 5;
            grid-row-end: 6;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: stretch;
            @media screen and (max-width: $mediamobile) {
                grid-column-end: 2;
                grid-row-start: 4;
                grid-row-end: 5;
                flex-direction: column;
                align-items: center;
                font-size: 150%;
                text-align: center;
            }
            h5 {
                @media screen and (max-width: $mediamobile) {
                    font-size: 200%;
                }
            }
            .footer-links {
                color: white;
                margin: 0;
                padding: 0;
                width: 75%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                flex-wrap: nowrap;
                align-items: center;

                li {
                    text-align: center;
                    list-style: none;
                    a {
                        color: white;
                    }
                }
            }
            .footer-contact {
                color: white;
                margin: 0;
                padding: 0;
                padding-top: 1%;
                width: 75%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                flex-wrap: nowrap;
                align-items: center;
                li {
                    text-align: center;
                    list-style: none;
                    a {
                        color: white;
                    }
                }
            }
        }
    }
}


