// Variable
$lightgrey: #ddd;
$verylightgrey: #f2f2f2;
$lightblack: #062c33;
$pink: #ff0066;
$pixel: 1px;


body {
  margin: $pixel;
}

.normaltabel {
  width: 80%;
  border-collapse: collapse;
  margin: 10px;

  & tr:nth-child(even) {
    background-color: $verylightgrey;
  }

  td {
    border: $pixel solid $lightgrey;
    padding: 3px;
    text-align: left;
  }

  th {
    @extend td;
    color: $lightblack;
    background-color: $pink;
  }

}

.tablebutton {
  background-color: $pink;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
}

.missingform {
  display: none;
}
